@import '../../base.scss';

.videoHorizontal{
    border-bottom: 0.3px solid $border-color;

    cursor: pointer;

    &_left{
        position: relative;
        text-align: center;
    }

    &_thumbnail{
        width: 100%;

        &-wrapper{
            width: 100%;
        }
    }

    &_duration{
        position: absolute;

        bottom: 0.3rem;
        right: 0.8rem;

        padding: 0.2rem;
        background:#080808ec;
        border-radius: 3px;
    }

    &_details{
        font-size: 0.9rem;
    }

    &_title{
        font-size: 1rem;
        color: #fff;
        letter-spacing: 0.1px;

        @include line-clamp(1);
    }

    &_channel{
        img{
            width: 36px;
            height: 36px;
            border-radius:50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        p{
            font-size: 0.9rem;
            @include line-clamp(1);
        }
    }
}


@media(mx-width:$breakpoint-small){
    .videoHorizontal{
        font-size: 12px;

        &_details{
            @include line-clamp(1);
        }

        &_channel{
            margin: 0.1rem 0;

            img{
                display: none;
            }

            p{
                font: size 0.9rem;
            }
        }

        // &_desc{
        //     display: none;
        // }

        &_title{
            font-size:1rem;
            @include line-clamp(2);
        }
    }

}