@import '../../base.scss';

.videoMetaData{
    &_top{
        span{
            cursor: pointer;
        }
    }

    &_channel{
        border-top:0.2px solid $border-color;
        border-bottom:0.2px solid $border-color;

        img{
            width: 50px;
            height: 50px;
            border-radius:50%;
        }

        .channel-details{
            margin-left:10px;
        }

        button{
            color: #fff;
            border-radius:none;
            text-transform:uppercase;
            letter-spacing:0.5px;
        }
    }

    &_description{
        font-size: 0.9rem;
        white-space: pre-line;
        border-bottom: 0.2px solid $border-color;

        .showMoreText{
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            color: #fff;
            font-weight: 500;
        }
    }
}