@import "../../base.scss";

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem; 
    background-color : $black-primary;
    height: 10vh;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 99;

    &_menu{
        display: none;
    }

    &_logo{
        width:100px;
        height:80px;
        object-fit: contain;
        display:block;
    }
    form{
        flex: 0.6;
        display: flex;
        padding:0 1rem;
        margin: 0 1rem;
        border-radius: 3px;
        border : 1.2px solid;
        background-color:$black-secondary;

        input{
            width: 100%;
            border: none;
            font-weight: 500;
            background:transparent;
            padding:0.3rem;
            color:$text-color;

            &:focus{
                outline: none;
            }
        }

        button{
            padding:0 1.25rem;
            color:$text-color;
            background:transparent;
            border: none;

            &:focus{
                border: none;
            }
        }

    }

    &_icons{
        flex: 0.1;
        display: flex;
        justify-content:space-between;
        align-items:center;

        img{
            border-radius: 50%;
            width:40px;
            height:40px;
            object-fit:contain;
            margin-left:5px;
        }
    }


}

@media (max-width: $breakpoint-medium){
    .header{
        padding:1rem;

        form{
            flex:1;
        }

        &_menu{
            display:block;
        }
        &_logo{
            display: none;
        }

        &_icons>*:not(img){
            display: none;
        }
    }
}